<style>
    .search-btn{
        background-color: #ff385c !important;
        color: white;
        border-radius: 25px;
        padding: 0 1rem 0 1rem;
    }
    .search-btn:hover{
        background-color: #ff385c !important;
        color: white;
    }
    .search-btn i{
        display: inline;
        margin-right: 0.5rem;
    }
    .search-input{
        border-radius: 25px;
        padding: 0.5rem 3rem 0.5rem 3rem;
        font-size: 1rem;
    }
</style>
<nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fab fa-airbnb fa-2xl" style="color: #ff385c;"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>
            <div class="navbar-nav ms-auto">
                <form
                class="d-flex" 
                role="search">
                    <input
                    class="form-control me-2 search-input"
                    type="search"
                    placeholder="Search destinations"
                    />
                    <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
                </form>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Airbnb your home</a>
                <% if(!currUser){  %>   <!--hum yha pe req.user isilye nhi likh sakte qki req ejs me accesible nhi hai isiliye humne req.user ko app.js me res.locals naam  ke middleware ke  ander currUser ke naam se save kra liya or usko idhr pass kr diya,----and if we want to know how we are looged in or not go to middleware.js and and if we console req.user if we click to add new listing. The value of req.user is must be undefined on console window. if some array in the console window so user us time logged in hoga  -->
                <a class="nav-link" href="/signup"><b>Signup</b></a>
                <a class="nav-link" href="/login"><b>Login</b></a>
                <% } %>   
                <% if(currUser){  %>
                <a class="nav-link" href="/logout"><b>Logout</b></a>
                <% } %>  
            </div>
        </div>
    </div>
</nav>