<nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fab fa-airbnb fa-2xl" style="color: #ff385c;" ></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">  
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/listings">All listing</a>
                <a class="nav-link" href="/listing/new">Add new Listing</a>
            </div>
        </div>
    </div>
</nav> 