<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airbnb</title>
</head>
<body>
    <h1>All listings</h1>

    <ul>
        <% for(let listings of allListings){  %>
            <li><a href="/listings/<%= listings._id %>"><%= listings.title %></a></li>
            
        <% } %>
        </ul>

</body>
</html>
