<%- layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">

            <h3>Create a New Listing</h3>
            <form action="/listings"
            method="post"
            novalidate
            class="needs-validation"
            enctype="multipart/form-data">   <!-- enctype ="multipart/form-data  krne se hamara form capable ho jaata hai to send files to our backend and change the input type text to file "--> 
                <div class="mb-3">
                    <label for="title" class="form-label">Tittle</label>
                    <input
                    name="listing[title]"
                    placeholder="Add a catch title"
                    type="text"
                    class="form-control"
                    required
                    />
                    <div class="invalid-feedback">Title must be there</div>
                    <div class="valid-feedback">Title looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="enter description"class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>

            

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input
                    name="listing[image]"
                    type="file"
                    class="form-control"
                    />
                </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input
                    name="listing[price]"
                    placeholder="1200"
                    class="form-control"
                    required
                    />
                    <div class="invalid-feedback">Price should be valid</div>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input
                    name="listing[country]"
                    placeholder="India"
                    type="text"
                    class="form-control"
                    required
                    />
                    <div class="invalid-feedback">Please enter the country name</div>
                </div>
            </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input
                    name="listing[location]"
                    placeholder="jaipur/Rajasthan"
                    type="text"
                    class="form-control"
                    required
                    />
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                
                <br>
                <button class="btn add-btn">Add</button>
                <br><br>
            </form>

        </div>
    </div>